.container {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}
.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  width: 50%;
}
.banner-pic-div {
  width: 50%;
}
.banner-pic {
  width: 100%;
}
